.gradle/
bin/
build/
logs/
.idea/
.settings/


!src/main/java/
src/main/java/*
!src/main/java/java24/

!src/main/resources/
src/main/resources/*
!src/main/resources/*.xml
!src/main/resources/*.properties
!src/main/resources/java24/

!src/test/java/
src/test/java/*
!src/test/java/java24/